footer {
  background-color: #404040;
  padding: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #f2d746;
}
.footer-left {
  flex: 1;
}
.footer-left h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.footer-left p {
  margin: 5px 0;
}
.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-links li {
  margin-bottom: 5px;
}
.footer-links a {
  text-decoration: none;
  color: #f2d746;
}
.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  color: #888888;
  font-size: 0.8rem;
}
