/* Dropdown icon */
.dropdown-icon {
  display: inline-block;
  width: 1vw; /* Relative width */
  height: 1vw; /* Relative height */
  border: solid #f2d746;
  border-width: 0 0.25vw 0.25vw 0; /* Relative border width */
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  vertical-align: middle;
  margin-left: 0.5vw; /* Relative margin */
  margin-bottom: 0.2vw; /* Relative margin */
}

/* Dropdown icon animation for hover */
.dropdown:hover .dropdown-icon {
  transform: rotate(225deg);
}

.navbar {
  background-color: #404040;
  overflow: hidden;
}

.navbar a {
  font-size: 2vw; /* Relative font size */
  display: block;
  color: #f2d746;
  text-align: center;
  padding: 3.5vw 4vw; /* Relative padding */
  text-decoration: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  flex: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8f8d8d;
  width: 18%; /* Percentage width */
  box-shadow: 0px 0.8vw 1.6vw 0px rgba(0,0,0,0.2); /* Relative box shadow */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #f2d746;
  padding: 1.4vw 1.6vw; /* Relative padding */
  text-decoration: none;
  display: block;
  width: 100%; 
}

.dropdown-content a:hover {
  background-color: #8f8d8d;
}

/* New rule for hover state of tabs */
.navbar li:hover a {
  background-color: #717171;
  color: #f2d746;
}

/* New rule for hover state of dropdown tabs */
.dropdown:hover .dropdown-content a:hover {
  background-color: #8f8d8d;
  color: #f2d746;
}
